---
import { capitalizeDomainPrefix } from "@utils/url";

const { user } = Astro.locals;

---

<footer id="colophon" role="contentinfo">
  <div id="site-generator">
    <div id="supplementary" class="one">
      <div id="first" class="widget-area" role="complementary">
        <aside id="nav_menu-3" class="widget widget_nav_menu">
          <div class="menu-footer-container">
            <ul id="menu-footer" class="menu">
              <li
                id="menu-item-6510"
                class="active menu-item menu-item-type-custom menu-item-object-custom menu-item-6510"
              >
                <a href={`http://www.${import.meta.env.PUBLIC_WEBSITE_URL}/`}>{capitalizeDomainPrefix(import.meta.env.PUBLIC_WEBSITE_URL)}</a>
              </li>
              <li
                id="menu-item-6511"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6511"
              >
                <a href={`http://corp.${import.meta.env.PUBLIC_WEBSITE_URL}/contact-us`}>Contact Us</a>
              </li>
              {
                user ? (
                  <li
                    id="menu-item-6513"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6513"
                  >
                    <a href="/api/logout">Log Out</a>
                  </li>
                ) : (
                  <li
                    id="menu-item-6513"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6513"
                  >
                    <a href="/wp-login">Log In</a>
                  </li>
                )
              }
              <li
                id="menu-item-7051"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7051"
              >
                <a href="/site-archives/">Blog Archives</a>
              </li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
    Radeon Blog is powered by
    <a
      href="https://github.com/midozen"
      title="Such a cool person and he made this cool website"
      rel="generator">fexlar</a> and a thousand networked Amigas. All rights reserved {new Date().getFullYear()}.
  </div>
</footer>
