---
import { capitalizeDomainPrefix } from "@utils/url";
---

<header id="branding" role="banner">
    <a href="/">
        <img src="/images/header_05.png" alt="" width="900" height="108">
    </a>

    <hgroup>
        <h1 id="site-title">
            <span><a href="/" title="Radeon Blog" rel="home">Radeon Blog</a></span>
        </h1>
        <h2 id="site-description">Free Games at {capitalizeDomainPrefix(import.meta.env.PUBLIC_WEBSITE_URL)}</h2>
    </hgroup>
</header>